mat-card{
    display: grid;
    grid-template-columns: 20% 80%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

mat-card img{
    max-width: 100%;
}

mat-card .content{
    padding: 0 15px;
}

h2{
    font-weight: bold;
}

p.date{
    margin-top: -18px;
    color: #b5b5b5;
}

rating{
    position: absolute;
    top: 22px;
    right: 15px;
}